In [3]:
#Q1
a=[ "shrisit"]
#ii
a=[52,525,85,],
#iii
a=85.5
#iv
float =(55,25,44)

In [ ]:
#Q2
#(i)	var1 = ‘ ‘ 
#ans it is used to assigned space. between the 

#(ii)	var2 = ‘[ DS , ML , Python]’
#ans it is a var that assigned the value because the inverted common is not present in betwwen.
#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#ans this var has list which is assigned with inverted common and we can change in this list by using index 
#(iv)	var4 = 1
#ans this var is assigned a value 1 int

In [14]:
#Q3(i)	/ (ii) % (iii)	// (iv)	**
a=25
b=5
a/b

5.0

In [15]:
a=25
b=5
a%b

0

In [16]:
#in this % this is a modulus operator which shows the reminder and giving the another example to explain this 
a=24
b=5
a%b

4

In [17]:
a=25
b=5
a//b

5

In [19]:
#in this // this is a modulus operator which shows the division floor  and giving the another example to explain this 
a=30
b=5
a//b

6

In [20]:
# ** is used to raise to function 
a=2
b=5
a**3

8

In [21]:
b**3

125

In [22]:
b**4

625

In [49]:
#Q4 
J=[52,True,52.5,"shrisiti",44,(44,45,46),85.4,False,45.5,"pandey"]
for a in J:
    print(type(a))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'float'>
<class 'bool'>
<class 'float'>
<class 'str'>

In [19]:
#q5 while loop
s=15
j=23
count=0
while s % j==0:
    s= s / j
    count +=1
    print("number of times",s,"divisible by",j,":",count)

In [26]:
#q6
A=[3,9,12,15,18,25,45,85,89,75,74,77,41,22,33,63,62,21,99,95,94,92,94,75,55]
for i in A:
    if i % 3==0:
        print ("divisible by 3")
else:
    print("not divisble by 3")

divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
not divisble by 3

In [33]:
#Q7
#mutable
a=["shristi",55,4.25,55,66,True]

In [34]:
type(a)

list

In [38]:
a[1]

55

In [39]:
a[1]=45

In [40]:
a

['shristi', 45, 4.25, 55, 66, True]

In [41]:
#mutable example

In [51]:
#imutable example
a="shubham"

In [49]:
a[0]

'shubham'

In [53]:
a[-1] = 5

TypeError: 'str' object does not support item assignment